target/
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.iml
*.ipr
*.iws
.idea/
jacoco.exec
*.orig
*.versionsBackup
